.wrapper {
    width: 90%;
    height: 90%;
    float: left;
    clear: both;
    margin: -4px 0;
}

.etch {
    background: #bbb;
    display: inline-block;
    min-width: 10px;
    min-height: 10px;
    color: #bbb;
}

.sketch {
    background: #000;
    color: #000;
}